.show{
    display:flex;
}
.hide{
    display:none;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center; 
}
section{
    display:flex;
    margin-top: 150px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgb(170, 120, 130);
}
button{
    border-radius: 8px !important;
}
form li::marker{
    content: none;
}
li input{
    margin: 5px;
    margin-right: 10px;
}
#search{
    width: 60%;
    justify-content: center;
}
#searchForm{
    width:100%;
    display: flex;
    justify-content: space-around;
}
#searchBtn{
    width: 20%;
}
#searchWord{
    width:75%;
}
#saveForm{
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
#currentSearch{
    font-weight: 900;
    font-size: x-large;
}
#searchResults li{
    margin-top: 5px;
    margin-bottom: 5px;
}
#options{
    display: flex;
}
#options button{
    margin:5px
}
#inspiration{
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}
#saved{
   flex-wrap: wrap; 
   width: 60%;
   justify-content: space-around;
}
#saved div{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: solid black 2px;
    border-radius: 10px;
    align-items: center;
    font-size: 22px;
    padding: 15px;
    overflow: scroll;
    background-color: rgb(219, 175, 200) ;
}
@media screen and (max-width: 950px){  
    body{
        flex-direction: column;
        align-items: unset;
        background-color: gainsboro;
    } 
    section{
        width:100%;
        margin:unset;
        margin-top: 20px;
        padding:unset;
        flex-direction: column;
        padding-top:15px;
        padding-bottom:15px;
        align-items: center;
    }
    #search{
        width: 100%;
    }
    #searchBtn{
        width: 90%;
    }
    #saved{
        width: 100%;
    }
    #saved div{
        width:80%;
        margin:5px;
    }
    form{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    #searchWord{
        width: 95%;
        margin: 0px;
    }
   
    button{
       width: 95%;
       margin: 0px;
    }
    .navbar{
        width:100%;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 350px){
    
#newWordBtn{
    font-size: 20px;
}


}